* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.login-container {
    width: 100%;
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    background-color: #3C6255;
    background-size: cover;
}

.login-form .divider {
    margin-top: 30px;
}

.login-form {
    max-width: 400px;
    padding: 40px;
    margin: auto;
    background-color: white;
    border-radius: 4%;
}

.login-form .logo-details {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form .logo-details i {
    font-size: 40px;
    font-weight: 800;
    color: #3C6255;
    text-align: center;
    padding-right: 5px;
}

.login-form .logo-details .logo-name {
    color: #3C6255;
    font-size: 36px;
    font-weight: 500;
}

input,
select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 8px 0;
}

.divider {
    border: 0;
    border-bottom: 1px solid #3C6255;
    width: 100%;
    margin: 20px 0;
}

.button {
    background-color: rgb(180, 224, 183);
    transition: 0.3s ease;
    border: none;
    width: 150px;
    margin-left: 15px;
}

.button:hover {
    background-color: #3C6255;
    color: white;
}

.create {
    font-size: 16.5px;
    text-decoration: none;
    color: #3C6255;
}

.logo {
    display: flex;
    justify-content: center;
    padding-bottom: 15px
}

.login-logo {
    width: 110px;
}

.button-login {
    background-color: rgb(180, 224, 183);
    transition: 0.3s ease;
    border: none;
}

.button-login:hover {
    background-color: #3C6255;
    color: white;
}

/*Create Form*/

.create-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    background-color: #3C6255;
    background-size: cover;
}

.create-form {
    max-width: 400px;
    padding: 40px;
    margin: auto;
    background-color: white;
    border-radius: 4%;
}

.create-form h3 {
    color: #3C6255;
    text-align: center;
}

.reset_btn {
    background-color: #FA9494;
    transition: 0.3s ease;
    border: none;
    width: 150px;
}

.reset_btn:hover {
    background-color: #EB1D36;
    color: white;
}