@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Work+Sans:wght@300;400;500;600;700&display=swap');



:root {
    --primary-clr: #b38add;

    --maincolor: #3C6255;
    --maincolorb: #27463aef;
    --maincolorMdark: #61876E;
    --maincolor_light: rgb(180, 224, 183);
    --cancelcolor: #EB1D36;
    --cancelcolor_light: #FA9494;
    --uppernav: #FFFBF5;


  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
  }
  /* nice scroll bar */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--maincolor);
    border-radius: 50px;
  }

  .container-calendar {
    position: relative;
    width: 100%;
    min-height: 850px;
    margin: 0 auto;
    padding: 5px;
    color: #fff;
    display: flex;
  
    border-radius: 10px;
    background-color: var(--maincolorb);
  }
  .left {
    width: 60%;
    padding: 20px;
  }
  .calendar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #878895;
    border-radius: 5px;
    background-color: #fff;
  }
  /* set after behind the main element */
  .calendar::before,
  .calendar::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    background-color: #d3d4d6d7;
    transform: translateY(-50%);
  }
  .calendar::before {
    height: 94%;
    left: calc(100% + 12px);
    background-color: rgb(153, 153, 153);
  }
  .calendar .month {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  .calendar .month .prev,
  .calendar .month .next {
    cursor: pointer;
  }
  .calendar .month .prev:hover,
  .calendar .month .next:hover {
    color: green;
  }
  .calendar .weekdays {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  .weekdays div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .calendar .days .day {
    width: 14.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--maincolor);
    border: 1px solid #f5f5f5;
  }
  .calendar .days .day:nth-child(7n + 1) {
    border-left: 2px solid #f5f5f5;
  }
  .calendar .days .day:nth-child(7n) {
    border-right: 2px solid #f5f5f5;
  }
  .calendar .days .day:nth-child(-n + 7) {
    border-top: 2px solid #f5f5f5;
  }
  .calendar .days .day:nth-child(n + 29) {
    border-bottom: 2px solid #f5f5f5;
  }
  
  .calendar .days .day:not(.prev-date, .next-date):hover {
    color: #fff;
    background-color: var(--maincolor);
  }
  .calendar .days .prev-date,
  .calendar .days .next-date {
    color: #b3b3b3;
  }
  .calendar .days .active {
    position: relative;
    font-size: 2rem;
    color: #fff;
    background-color: var(--maincolor);
  }
  .calendar .days .active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px var(--maincolor);
  }
  .calendar .days .today {
    font-size: 2rem;
  }
  .calendar .days .event {
    position: relative;
  }
  .calendar .days .event::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--maincolor);
  }
  .calendar .days .day:hover.event::after {
    background-color: #fff;
  }
  .calendar .days .active.event::after {
    background-color: #fff;
    bottom: 20%;
  }
  .calendar .days .active.event {
    padding-bottom: 10px;
  }
  .calendar .goto-today {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: var(--maincolor);
  }
  .calendar .goto-today .goto {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--maincolor);
  }
  .calendar .goto-today .goto input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color:var(--maincolor);
    border-radius: 5px;
  }
  .calendar .goto-today button {
    padding: 5px 10px;
    border: 1px solid var(--maincolor);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: var(--maincolor);
  }
  .calendar .goto-today button:hover {
    color: #fff;
    background-color: var(--maincolor);
  }
  .calendar .goto-today .goto button {
    border: none;
    border-left: 1px solid var(--maincolor);
    border-radius: 0;
  }
  .container-calendar .right {
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20px 0;
  }
  
  .right .today-date {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
  .right .today-date .event-day {
    font-size: 2rem;
    font-weight: 500;
  }
  .right .today-date .event-date {
    font-size: 1rem;
    font-weight: 400;
    color: #878895;
  }
  .events {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
  }
  .events .event {
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
    padding-left: 50px;
    color: #fff;
    background: linear-gradient(90deg, #3f4458, transparent);
    cursor: pointer;
  }
  /* even event */
  .events .event:nth-child(even) {
    background: transparent;
  }
  .events .event:hover {
    background: linear-gradient(90deg, var(--maincolor), transparent);
  }
  .events .event .title {
    display: flex;
    align-items: center;
    pointer-events: none;
  }
  .events .event .title .event-title {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 20px;
  }
  .events .event i {
    color: var(--maincolor);
    font-size: 0.5rem;
  }
  .events .event:hover i {
    color: #fff;
  }
  .events .event .event-time {
    font-size: 0.8rem;
    font-weight: 400;
    color: #878895;
    margin-left: 15px;
    pointer-events: none;
  }
  .events .event:hover .event-time {
    color: #fff;
  }
  /* add tick in event after */
  .events .event::after {
    content: "✓";
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
    line-height: 1;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: var(--bs-white);
    transform: translateY(-50%);
  }
  .events .event:hover::after {
    display: flex;
  }
  .add-event {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #ffff;
    border: 2px solid #ffff;
    opacity: 100;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
  }
  .add-event:hover {
    opacity: 50%;
  }
  .add-event i {
    pointer-events: none;
  }
  .events .no-event {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #878895;
  }
  .add-event-wrapper {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 90%;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
    transform: translateX(-50%);
    transition: max-height 0.5s ease;
  }
  .add-event-wrapper.active {
    max-height: 300px;
  }
  .add-event-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #373c4f;
    border-bottom: 1px solid #f5f5f5;
  }
  .add-event-header .close {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .add-event-header .close:hover {
    color: var(--maincolor);
  }
  .add-event-header .title {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .add-event-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
  }
  .add-event-body .add-event-input {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .add-event-body .add-event-input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #f5f5f5;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #373c4f;
  }
  .add-event-body .add-event-input input::placeholder {
    color: #a5a5a5;
  }
  .add-event-body .add-event-input input:focus {
    border-bottom: 1px solid var(--maincolor);
  }
  .add-event-body .add-event-input input:focus::placeholder {
    color: var(--maincolor);
  }
  .add-event-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .add-event-footer .add-event-btn {
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: #fff;
    background-color: var(--maincolor);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid var(--maincolor);
  }
  .add-event-footer .add-event-btn:hover {
    background-color: transparent;
    color: var(--maincolor);
  }
  
  /* media queries */
  
  @media (max-width: 1000px) {
    body {
      align-items: flex-start;
      justify-content: flex-start;
    }
    .container-calendar {
      min-height: 100vh;
      flex-direction: column;
      border-radius: 0;
    }
    .container-calendar {
        position: relative;
        min-height: 850px;
        margin: 0 auto;
        padding: 5px;
        color: #fff;
        display: flex;
        border-radius: 10px;
        background-color: var(--maincolor);
    }
    .container-calendar .left {
      width: 100%;
      height: 100%;
      padding: 20px 0;
    }
    .container-calendar .right {
      width: 100%;
      height: 100%;
      padding: 20px 0;
    }
    .calendar::before,
    .calendar::after {
      top: 100%;
      left: 50%;
      width: 97%;
      height: 12px;
      border-radius: 0 0 5px 5px;
      transform: translateX(-50%);
    }
    .calendar::before {
      width: 94%;
      top: calc(100% + 12px);
    }
    .events {
      padding-bottom: 340px;
    }
    .add-event-wrapper {
      bottom: 100px;
    }
  }
  @media screen and (max-width: 500px) {
    .calendar .month {
      height: 75px;
    }
    .calendar .weekdays {
      height: 50px;
    }
    .calendar .days .day {
      height: 40px;
      font-size: 0.8rem;
    }
    .calendar .days .day.active,
    .calendar .days .day.today {
      font-size: 1rem;
    }
    .right .today-date {
      padding: 20px;
    }
  }
  
  .credits {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: #fff;
    background-color: #b38add;
  }
  .credits a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  .credits a:hover {
    text-decoration: underline;
  }





  /* start: Global */
  :root {
      --bs-blue: #0d6efd;
      --bs-indigo: #6610f2;
      --bs-purple: #6f42c1;
      --bs-pink: #d63384;
      --bs-red: #dc3545;
      --bs-orange: #fd7e14;
      --bs-yellow: #ffc107;
      --bs-green: #198754;
      --bs-teal: #20c997;
      --bs-cyan: #0dcaf0;
      --bs-black: #000;
      --bs-white: #fff;
      --bs-gray: #6c757d;
      --bs-gray-dark: #343a40;
      --bs-gray-100: #f8f9fa;
      --bs-gray-200: #e9ecef;
      --bs-gray-300: #dee2e6;
      --bs-gray-400: #ced4da;
      --bs-gray-500: #adb5bd;
      --bs-gray-600: #6c757d;
      --bs-gray-700: #495057;
      --bs-gray-800: #343a40;
      --bs-gray-900: #212529;
      --bs-primary: #0d6efd;
      --bs-secondary: #6c757d;
      --bs-success: #198754;
      --bs-info: #0dcaf0;
      --bs-warning: #ffc107;
      --bs-danger: #dc3545;
      --bs-light: #f8f9fa;
      --bs-dark: #212529;
      --bs-primary-rgb: 13, 110, 253;
      --bs-secondary-rgb: 108, 117, 125;
      --bs-success-rgb: 25, 135, 84;
      --bs-info-rgb: 13, 202, 240;
      --bs-warning-rgb: 255, 193, 7;
      --bs-danger-rgb: 220, 53, 69;
      --bs-light-rgb: 248, 249, 250;
      --bs-dark-rgb: 33, 37, 41;
      --bs-white-rgb: 255, 255, 255;
      --bs-black-rgb: 0, 0, 0;
      --bs-body-color-rgb: 33, 37, 41;
      --bs-body-bg-rgb: 255, 255, 255;
      --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
      --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
      --bs-body-font-family: var(--bs-font-sans-serif);
      --bs-body-font-size: 1rem;
      --bs-body-font-weight: 400;
      --bs-body-line-height: 1.5;
      --bs-body-color: #212529;
      --bs-body-bg: #fff;
      --bs-border-width: 1px;
      --bs-border-style: solid;
      --bs-border-color: #dee2e6;
      --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
      --bs-border-radius: 0.375rem;
      --bs-border-radius-sm: 0.25rem;
      --bs-border-radius-lg: 0.5rem;
      --bs-border-radius-xl: 1rem;
      --bs-border-radius-2xl: 2rem;
      --bs-border-radius-pill: 50rem;
      --bs-heading-color: ;
      --bs-link-color: #0d6efd;
      --bs-link-hover-color: #0a58ca;
      --bs-code-color: #d63384;
      --bs-highlight-bg: #fff3cd;
  
      --maincolor: #3C6255;
      --maincolorMdark: #61876E;
      --maincolor_light: rgb(180, 224, 183);
      --cancelcolor: #EB1D36;
      --cancelcolor_light: #FA9494;
      --uppernav: #FFFBF5;
  }
  body {
      font-family: 'Work Sans', sans-serif;
  }
  .text-indigo:hover,
  .text-indigo {
      color: var(--maincolor);
  }
  .bg-indigo {
      background-color: var(--maincolor);
  }
  .dropdown-toggle::after {
      display: none;
  }
  .cursor-pointer {
      cursor: pointer;
  }
  .fw-semibold {
      font-weight: 600;
  }
  .fs-7 {
      font-size: .875rem;
  }
  
  
  .fx-dropdown-menu {
      min-width: 16rem;
      padding: 0;
      overflow: hidden;
  }
  /* start: Global */
  
  
  
  /* start: Sidebar */
  .sidebar-overlay {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, .5);
      z-index: 490;
      opacity: 1;
      visibility: visible;
      transition: opacity .2s;
  }
  .sidebar.collapsed ~ .sidebar-overlay {
      opacity: 0;
      visibility: hidden;
  }
  .sidebar.collapsed:hover,
  .sidebar {
      width: 16rem;
      overflow-y: auto;
      transition: width .2s, left .2s;
      left: 0;
      z-index: 500;
  }
  .sidebar.collapsed {
      left: -16rem;
  }
  .sidebar::-webkit-scrollbar {
      width: .25rem;
  }
  .sidebar::-webkit-scrollbar-track {
      background-color: var(--bs-gray-300);
  }
  .sidebar::-webkit-scrollbar-thumb {
      background-color: var(--bs-gray-500);
  }
  .sidebar::-webkit-scrollbar-thumb:hover {
      background-color: var(--bs-gray-600);
  }
  .sidebar-toggle {
      cursor: pointer;
      transition: .2s;
  }
  .sidebar-toggle:hover {
      color: var(--maincolorMdark);
  }
  .sidebar-menu {
      list-style-type: none;
  }
  .sidebar-menu-item {
      margin-bottom: .25rem;
  }
  .sidebar-menu-item a {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: var(--bs-dark);
      padding: .375rem .75rem;
      border-radius: .375rem;
      font-size: .875rem;
      white-space: nowrap;
      font-family: 'Work Sans', sans-serif !important;
  }
  .sidebar-menu-item > a {
      overflow: hidden;
  }
  .sidebar-menu-item.focused > a,
  .sidebar-menu-item > a:hover {
      background-color: var(--bs-gray-200);
  }
  .sidebar-menu-item.active a {
      background-color: var(--maincolor);
      color: var(--bs-light);
      box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.175);
  }
  .sidebar-menu-item-icon {
      margin-right: .625rem;
      font-size: 1.25rem;
  }
  .sidebar-menu-item-accordion {
      transition: transform .2s;
  }
  .sidebar-dropdown-menu-item.focused > a .sidebar-menu-item-accordion,
  .sidebar-menu-item.focused > a .sidebar-menu-item-accordion {
      transform: rotateZ(180deg);
  }
  .sidebar.collapsed:hover .sidebar-menu-divider,
  .sidebar-menu-divider {
      font-size: .75rem;
      color: var(--bs-gray-600);
      transition: opacity .2s;
      opacity: 1;
      visibility: visible;
  }
  .sidebar-dropdown-menu-item a {
      padding: .375rem 0;
      padding-right: .75rem;
  }
  .sidebar-dropdown-menu-item.focused > a,
  .sidebar-dropdown-menu-item a:hover {
      color: var(--bs-green);
  }
  .sidebar-dropdown-menu {
      padding-left: 2rem;
  }
  .sidebar-dropdown-menu .sidebar-dropdown-menu {
      padding-left: 1rem;
      list-style-type: circle;
  }
  /* end: Sidebar */
  
  
  
  /* start: Main */
  main {
      padding-left: 0;
      min-height: 100vh;
      font-family: 'Poppins', sans-serif;
  }
  
  
  
  /* start: Navbar */
  nav {
      display: flex;
      align-items: center;
  }
  .navbar-profile-image {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
      border-radius: 50%;
  }
  .navbar-link {
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: .25rem;
  }
  .navbar-link:hover {
      background-color: var(--bs-gray-200);
  }
  /* end: Navbar */
  
  
  
  /* start: Suummary */
  .summary-icon {
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--bs-light);
      font-size: 1.5rem;
      border-radius: 50%;
  }
  .summary-primary,
  .summary-indigo,
  .summary-danger,
  .summary-info {
      transition: .2s;
  }
  .summary-primary:hover,
  .summary-indigo:hover,
  .summary-danger:hover,
  .summary-info:hover {
      color: var(--bs-light) !important;
  }
  .summary-primary:hover .summary-icon,
  .summary-indigo:hover .summary-icon,
  .summary-danger:hover .summary-icon,
  .summary-info:hover .summary-icon {
      background-color: var(--bs-light) !important;
  }
  .summary-primary:hover .summary-icon {
      color: var(--bs-primary) !important;
  }
  .summary-indigo:hover .summary-icon {
      color: var(--bs-green) !important;
  }
  .summary-danger:hover .summary-icon {
      color: var(--bs-danger) !important;
  }
  .summary-info:hover .summary-icon {
      color: var(--bs-info) !important;
  }
  .summary-primary:hover {
      background-color: var(--bs-primary) !important;
  }
  .summary-indigo:hover {
      background-color: var(--bs-green) !important;
  }
  .summary-danger:hover {
      background-color: var(--bs-danger) !important;
  }
  .summary-info:hover {
      background-color: var(--bs-info) !important;
  }
  /* end: Suummary */
  /* end: Main */
  
  
  
  /* start: Breakpoints */
   /* X-Small devices (portrait phones, less than 576px) */
   /* No media query for `xs` since this is the default in Bootstrap */
  
   /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
      
  }
  
   /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
      /* start: Sidebar */
      .sidebar-overlay {
          opacity: 0;
          visibility: hidden;
      }
      .sidebar.collapsed {
          width: 4.75rem;
          left: 0;
      }
      .sidebar.collapsed .sidebar-logo {
          display: none;
      }
      .sidebar.collapsed:hover .sidebar-logo {
          display: block;
      }
      .sidebar.collapsed:hover .sidebar-toggle {
          margin-left: auto;
          margin-right: 0;
      }
      .sidebar.collapsed .sidebar-toggle {
          margin: 0 auto;
          transform: rotateZ(180deg);
      }
      .sidebar.collapsed:hover .sidebar-menu-divider {
          font-size: .75rem;
          color: var(--bs-gray-600);
          transition: opacity .2s;
          opacity: 1;
          visibility: visible;
      }
      .sidebar.collapsed .sidebar-menu-divider {
          opacity: 0;
          visibility: hidden;
      }
      /* end: Sidebar */
  
  
  
      /* start: Main */
      main {
          transition: padding-left .2s;
          padding-left: 16rem;
      }
      .sidebar.collapsed ~ main {
          padding-left: 4.75rem;
      }
      /* end: Main */
  }
  
   /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
      
  }
  
   /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
      
  }
  
   /* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
      
  }
  /* end: Breakpoints */
  
  /*tables*/
  
  .container{
      font-size: 90%;
  }
  
  