@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

:root{
    --primary: #3155e7;
    --primary-dark: #2045d6;
    --black: #010101;
    --gray1: #788190;
    --gray2: #d3d4db;
    --white: #ffffff;
    --body: #fefefe;

    --maincolor: #3C6255;
    --maincolorMdark: #61876E;
    --maincolor_light: rgb(180, 224, 183);
    --cancelcolor: #EB1D36;
    --cancelcolor_light: #FA9494;
    --uppernav: #FFFBF5;
}

body{
    font-family: 'Plus Jkarta Sans', sans-serif;
    background-color: var(--body);
}



#logo-name{
    color: var(--white);
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn{
    border-radius: 8px;
}

.btn-primary,
.btn-outline-secondary{
    padding: 12px 20px;
}

.btn-primary{
    background-color: var(--primary);
}

.btn-primary:hover{
    background-color: var(--primary-dark);
}

.btn-outline-secondary{
    border: 1px solid var(--gray2);
    color: var(--white);
}

.btn-outline-secondary:hover{
    background-color: var(--gray2);
    border: 1px solid (var(--gray2));
    color: var(--black);
}

/*Navbar*/

.navbar .btn-outline-secondary{
    border: 1px solid var(--gray2);
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 16px;
}

.navbar{
    padding: 10px 0;
    background:var(--maincolor);

}

.navbar img{
    width: 50px;
    margin-bottom: 8px;
}

.nav-link{
    margin-left: 41px;
    font-size: 16px;
    color: var(--white);
}

.navbar-nav .nav-link.active{
    font-weight: bold;
    color: var(--white);
}

section.home{
    padding-top: 120px;
}

section.home svg{
    display: block;
}

section.home .text{
    padding-top: 75px;
    font-weight: 800;
    font-size: 80px;
    line-height: 73px;
    color: var(--maincolor);
    font-family: 'Times New Roman', Times, serif;
}

section.home .text2{
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    color: rgb(31, 27, 27);
    font-family: 'Plus Jkarta Sans', sans-serif;
}

.buttons{
    padding-top: 69px;
}

.buttons .btn{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

/* for icons */

.setup .container .icons i{
    font-size: 30px;
    color: whitesmoke;
    background: var(--maincolor);
    padding: 15px;
    border-radius: 50%;
}

section.setup{
    padding:0 0 0 0;
}

section.setup .text-header h3{
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: var(--black);
}

section.setup .text-header p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--gray1);
    padding: 27px 0;
}

section.setup .icons{
    padding: 27px 0;
}

section.setup h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--black);
    padding-bottom: 18px;
}

section.setup .desc p{
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: var(--gray1);
    max-width: 284px;
    margin: 0 auto;
    padding-bottom: 30px;
}

section.information .text-information{
    padding: 134px 0;
}

section.information h5{
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: var(--black);
}

section.information p{
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    color: var(--gray1);
    padding-top: 20px ;
}

section.information img{
    border-radius: 30px;
}

section.information .info-1{
    padding: 0 0 90px 0;
}

section.information .info-2{
    padding: 0 0 90px 0;
}

#line{
    width: 100%;
    justify-content: center;
    padding: 20px 0;
}

footer{
    padding-top: 35px;
    padding-bottom: 35px;
    background: var(--maincolor_light);
}

footer a{
    font-weight: bold;
    font-size: 14px;
    color: var(--black);
    line-height: 10px;
}

footer .copy{
    margin-top: 32px;
    font-size: 14px;
    color: var(--black);
    line-height: 10px;
    font-weight: 400;
}

@media (max-width: 768px){
    .navbar-toggler{
        border: none !important;
    }

    .navbar .btn-outline-secondary {
        border: 1px solid var(--gray2);
        color: var(--white);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        padding: 10px 16px;
        margin-bottom: 10px;
    }

    .line{
        width: 100%;
        color: white;
    }
}

@media ( max-width: 576px){

    section.home,
    section.setup,
    section.information{
        text-align: center;
    }

    .line{
        width: 100%;
        color: white;
    }

    section.home .text2 {
        font-weight: 700;
        font-size: 25px;
        line-height: 15px;
        color: rgb(31, 27, 27);
        font-family: 'Plus Jkarta Sans', sans-serif;
    }

    /* Navbar */

    .navbar{
        padding: 20px 0;
    }

    .nav-link{
        margin-left: 0;
    }

    .navbar-toggler{
        border: none !important;
    }

    .navbar .btn-outline-secondary {
        border: 1px solid var(--gray2);
        color: var(--white);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        padding: 10px 16px;
        margin-bottom: 10px;
    }

    /*Home Section*/

    section.home img{
        padding:0;
    }

    section.home .text{
        font-weight: 800;
        font-size: 38px;
        line-height: 53px;
    }

    .buttons .btn{
        display: block;
        margin: 1rem 0;
    }

    .buttons .ms-3{
        margin-left: 0 !important;
    }

    /*Setup Section*/

    section.setup{
        padding: 0;
    }

    /*Footer*/

    footer{
        padding-top: 35px;
        padding-bottom: 35px;
        background: var(--maincolor_light);
    }
}



@media (min-width: 320px) and (max-width:375px ){
    .navbar img {
        width: 35px;
        margin-bottom: 0px;
    }

    .line{
        width: 100%;
        color: white;
    }

    #logo-name {
        color: var(--white);
        font-size: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .navbar-toggler-icon {
        display: inline-block;
        width: 20px;
        height: 1.5em;
        vertical-align: middle;
        background-image: var(--bs-navbar-toggler-icon-bg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        color: var(--white);
    }

    .navbar img {
        width: 35px;
        margin-bottom: 0px;
        margin-left: 13px;
    }

}

@media (min-width: 375px) and (max-width: 425px){
    #logo-name {
        color: var(--white);
        font-size: 21px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .line{
        width: 100%;
        color: white;
    }

    .navbar img {
        width: 39px;
        margin-bottom: 4px;
        margin-left: 10px;
    }
}

@media (min-width: 250px) and (max-width: 319px){

    .navbar-toggler-icon {
        display: inline-block;
        width: 16px;
        height: 1.5em;
        vertical-align: middle;
        background-image: var(--bs-navbar-toggler-icon-bg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .line{
        width: 100%;
        color: white;
    }

    #logo-name {
        color: var(--white);
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: bold;
    }
    

    .navbar img {
        width: 30px;
        margin-bottom: 8px;
    }


}




