@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Work+Sans:wght@300;400;500;600;700&display=swap');



/* start: Global */
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-heading-color: ;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;

    --maincolor: #3C6255;
    --maincolorMdark: #61876E;
    --maincolor_light: rgb(180, 224, 183);
    --cancelcolor: #EB1D36;
    --cancelcolor_light: #FA9494;
    --uppernav: #FFFBF5;
}
body {
    font-family: 'Work Sans', sans-serif;
}



.text-indigo:hover,
.text-indigo {
    color: var(--maincolor);
}
.bg-indigo {
    background-color: var(--maincolor);
}
.dropdown-toggle::after {
    display: none;
}
.cursor-pointer {
    cursor: pointer;
}
.fw-semibold {
    font-weight: 600;
}
.fs-7 {
    font-size: .875rem;
}


.fx-dropdown-menu {
    min-width: 16rem;
    padding: 0;
    overflow: hidden;
}
/* start: Global */



/* start: Sidebar */
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 490;
    opacity: 1;
    visibility: visible;
    transition: opacity .2s;
}
.sidebar.collapsed ~ .sidebar-overlay {
    opacity: 0;
    visibility: hidden;
}
.sidebar.collapsed:hover,
.sidebar {
    width: 16rem;
    overflow-y: auto;
    transition: width .2s, left .2s;
    left: 0;
    z-index: 500;
}
.sidebar.collapsed {
    left: -16rem;
}
.sidebar::-webkit-scrollbar {
    width: .25rem;
}
.sidebar::-webkit-scrollbar-track {
    background-color: var(--bs-gray-300);
}
.sidebar::-webkit-scrollbar-thumb {
    background-color: var(--bs-gray-500);
}
.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: var(--bs-gray-600);
}
.sidebar-toggle {
    cursor: pointer;
    transition: .2s;
}
.sidebar-toggle:hover {
    color: var(--maincolorMdark);
}
.sidebar-menu {
    list-style-type: none;
}
.sidebar-menu-item {
    margin-bottom: .25rem;
}
.sidebar-menu-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--bs-dark);
    padding: .375rem .75rem;
    border-radius: .375rem;
    font-size: .875rem;
    white-space: nowrap;
}
.sidebar-menu-item > a {
    overflow: hidden;
}
.sidebar-menu-item.focused > a,
.sidebar-menu-item > a:hover {
    background-color: var(--bs-gray-200);
}
.sidebar-menu-item.active a {
    background-color: var(--maincolor);
    color: var(--bs-light);
    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.175);
}
.sidebar-menu-item-icon {
    margin-right: .625rem;
    font-size: 1.25rem;
}
.sidebar-menu-item-accordion {
    transition: transform .2s;
}
.sidebar-dropdown-menu-item.focused > a .sidebar-menu-item-accordion,
.sidebar-menu-item.focused > a .sidebar-menu-item-accordion {
    transform: rotateZ(180deg);
}
.sidebar.collapsed:hover .sidebar-menu-divider,
.sidebar-menu-divider {
    font-size: .75rem;
    color: var(--bs-gray-600);
    transition: opacity .2s;
    opacity: 1;
    visibility: visible;
}
.sidebar-dropdown-menu-item a {
    padding: .375rem 0;
    padding-right: .75rem;
}
.sidebar-dropdown-menu-item.focused > a,
.sidebar-dropdown-menu-item a:hover {
    color: var(--bs-green);
}
.sidebar-dropdown-menu {
    padding-left: 2rem;
}
.sidebar-dropdown-menu .sidebar-dropdown-menu {
    padding-left: 1rem;
    list-style-type: circle;
}
/* end: Sidebar */



/* start: Main */
main {
    padding-left: 0;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}



/* start: Navbar */
nav {
    display: flex;
    align-items: center;
}
.navbar-profile-image {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
}
.navbar-link {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
}
.navbar-link:hover {
    background-color: var(--bs-gray-200);
}
/* end: Navbar */



/* start: Suummary */
.summary-icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bs-light);
    font-size: 1.5rem;
    border-radius: 50%;
}
.summary-primary,
.summary-indigo,
.summary-success,
.summary-info {
    transition: .2s;
}
.summary-primary:hover,
.summary-indigo:hover,
.summary-success:hover,
.summary-info:hover {
    color: var(--bs-light) !important;
}
.summary-primary:hover .summary-icon,
.summary-indigo:hover .summary-icon,
.summary-success:hover .summary-icon,
.summary-info:hover .summary-icon {
    background-color: var(--bs-light) !important;
}
.summary-primary:hover .summary-icon {
    color: var(--bs-primary) !important;
}
.summary-indigo:hover .summary-icon {
    color: var(--bs-green) !important;
}
.summary-success:hover .summary-icon {
    color: var(--bs-success) !important;
}
.summary-info:hover .summary-icon {
    color: var(--bs-info) !important;
}
.summary-primary:hover {
    background-color: var(--bs-primary) !important;
}
.summary-indigo:hover {
    background-color: var(--bs-green) !important;
}
.summary-success:hover {
    background-color: var(--bs-success) !important;
}
.summary-info:hover {
    background-color: var(--bs-info) !important;
}
/* end: Suummary */
/* end: Main */



/* start: Breakpoints */
 /* X-Small devices (portrait phones, less than 576px) */
 /* No media query for `xs` since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* start: Sidebar */
    .sidebar-overlay {
        opacity: 0;
        visibility: hidden;
    }
    .sidebar.collapsed {
        width: 4.75rem;
        left: 0;
    }
    .sidebar.collapsed .sidebar-logo {
        display: none;
    }
    .sidebar.collapsed:hover .sidebar-logo {
        display: block;
    }
    .sidebar.collapsed:hover .sidebar-toggle {
        margin-left: auto;
        margin-right: 0;
    }
    .sidebar.collapsed .sidebar-toggle {
        margin: 0 auto;
        transform: rotateZ(180deg);
    }
    .sidebar.collapsed:hover .sidebar-menu-divider {
        font-size: .75rem;
        color: var(--bs-gray-600);
        transition: opacity .2s;
        opacity: 1;
        visibility: visible;
    }
    .sidebar.collapsed .sidebar-menu-divider {
        opacity: 0;
        visibility: hidden;
    }
    /* end: Sidebar */



    /* start: Main */
    main {
        transition: padding-left .2s;
        padding-left: 16rem;
    }
    .sidebar.collapsed ~ main {
        padding-left: 4.75rem;
    }
    /* end: Main */
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}
/* end: Breakpoints */

/*tables*/

.container{
    font-size: 90%;
}


.table .actions{
    display: flex;
}

.table .actions .action-edit{
    color: white;
    background: orange;
}

.table .actions .action-view{
    color: #fff;
    background: var(--maincolorMdark);
}

.table .actions .action-delete{
    color: white;
    background: lightcoral;
}

.table .actions .action-edit,
.table .actions .action-view,
.table .actions .action-delete{
    
    border-radius: 6px;
    padding: 7px 10px;
    margin-left: 3px;
    text-decoration: none;
    font-weight:lighter;
}

.container .add-button{
    background: var(--maincolor);
    border: none;
    display: flex;
    justify-content: flex-end;
}

.container .add-button:hover{
    color: white;
    background: var(--maincolorMdark);
}

/*login*/

.login-container {
    width: 100%;
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    background-color: var(--maincolor);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.login-form .divider {
    margin-top: 30px;
}

.login-form {
    max-width: 345px;
    padding: 26px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.5);
}

.login-form .logo-details {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form .logo-details i {
    font-size: 40px;
    font-weight: 800;
    color: var(--primary);
    text-align: center;
    padding-right: 5px;
}

.login-form .logo-details .logo-name {
    color: #3C6255;
    font-size: 30px;
    font-weight: 500;
}

.form-input,
select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 7px 0;
    font-size: 13px
}

select {
    font-size: 13px !important;
}

.divider {
    border: 0;
    border-bottom: 1px solid var(--maincolor);
    width: 100%;
    margin: 20px 0;
}

.save-btn {
    background-color: rgb(180, 224, 183);
    transition: 0.3s ease;
    border: none;
    width: 100%;
}


.save-btn:hover {
    background-color: #3C6255;
    color: white;
}

.create {
    font-size: 15px;
    text-decoration: none;
    color: #000;
}

.forgot {
    float: right;
    font-size: 15px;
    text-decoration: none;
    color: var(--maincolor);
    text-decoration: underline !important;
}

.logo {
    display: flex;
    justify-content: center;
    padding-bottom: 15px
}

.login-logo {
    width: 110px;
}

.button-login {
    background-color: rgb(180, 224, 183);
    transition: 0.3s ease;
    border: none;
    margin-bottom: 20px;
    margin-top: 15px;
}

.button-login:hover {
    background-color: #3C6255;
    color: white;
}

/*Create Form*/

.create-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    background-color: #3C6255;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.create-form {
    max-width: 345px;
    padding: 26px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.create-form h3 {
    color: #3C6255;
    text-align: center;
}

.pbutton {
    display: flex;
    justify-content: space-between;

}

.reset_btn {
    background-color: #FA9494;
    transition: 0.3s ease;
    border: none;
    width: 100%;
    margin-right: 5px;
}

.reset_btn:hover {
    background-color: #EB1D36;
    color: white;
}

label {
    font-size: 13px;
}

/*modal*/

.add-form .cont {
    width: 100%;
    display: flex;

}

.add-form .cont input,
.add-form .cont select {
    margin: 6px 1px 6px 1px;
    justify-content: space-between;
}


.form-cont .edit-form {
    margin: 10px;
    max-width: 380px;
    padding-bottom: 20px;
}

.form-cont .edit-form select {
    margin: 6px 1px 6px 1px;
}

.form-cont a.back {
    text-decoration: none;
    color: var(--maincolor);
    font-size: 17px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 7px;
}

.modal-body select {
    margin: 6px 1px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap !important;
}

.modal-footer .form-input {
    width: 30%;
    background-color: rgb(180, 224, 183);
    transition: 0.3s ease;
    border: none;
}


.modal-footer .form-input:hover {
    background: var(--maincolor);
    color: #ffff;
}

@media (max-width: 320px) {

    .login-form .logo-details .logo-name {
        color: #3C6255;
        font-size: 26px;
        font-weight: 500;
    }

    .create {
        font-size: 12px;
        text-decoration: none;
        color: #000;
    }

    .forgot {
        float: right;
        font-size: 12px;
        text-decoration: none;
        color: var(--maincolor);
        text-decoration: underline !important;
    }

}

thead{
    text-transform: uppercase;
    border-bottom:  #000;
}

.form-cont .back{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: var(--bs-green);
}

.py-4{
   padding: 10px !important;
   background:#F8F9FA;
   
   height: 100%;
   width: 100%;
   margin-top: 10px;
   border-radius: 10px;
}

.py-4 .main-content{
    width: 100%;
    height: 100vh;
    background: #F8F9FA;
    border-radius: 10px;
}

.head-number h2{
    font-size: 50px;
    font-weight: 600;
    color: var(--maincolor);
}

.main-content span{
    font-size: 30px;
    font-weight: 400;
    color: var(--maincolor);
}

.main-content .titles-up{
    max-width: 700px;
}

.main-content .titles-up .uploading{
    padding-top: 15px;
}

.main-content .titles-up .mb-3{
    display: flex;
    justify-content: space-evenly;
}

#file{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 12px;
    padding: 0 12px 0 12px;
}

#formFile{
    width: 400px;

}


